*

.view {
	padding-top: 5px;
}

.view {
	background-image: url('./images/bg.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
}

.view::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
}

body {
	background-color: lightseagreen;
}

.contactUs{
	background-color: #395144;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}